:root {
    --bgColor: #f9bcd0;
    --bgImg: url("https://banami.nekoweb.org/migrate/eris-bg.png");
    --banner-outline-color: #f486a9;
    --button-hover-shadow-color: rgb(0, 0, 0, 0.5);
    --defaultColor: black;
    --nscr: rgb(255, 239, 247);
    --mainBgColor: rgb(253, 239, 243);
    --mainOutline: rgb(244, 134, 169);
    --tools-gradient-end: rgb(248, 32, 95);
    --toolsTxtColor: white;
    --txtColor: #683946;
    --curse: url("https://banami.nekoweb.org/curse-1.png");
}

* {
    font-family: ＭＳ Ｐゴシック, Times, Arial;
}

html {
    background-image: var(--bgImg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bgColor);
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    word-spacing: 0.15px;
    cursor: var(--curse), auto;
}

.mz a.vz {
    cursor: url('https://banami.nekoweb.org/files/images/pyo.png'), auto;
}

body {
    display: flex;
    margin: 0;
}

img, iframe {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media screen and (max-width: 800px), (max-height: 950px) {
    * {
        scale: 95% !important
    }
}

@media screen and (max-width: 540px), (max-height: 545px) {
    * {
        scale: 90% !important
    }
}

marquee {
    align-items: flex-start;
    display: flex;
    color: var(--defaultColor);
    justify-content: center
}

/* Banner */
.banner {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    margin: 10px 0 20px;
}

.banner img {
    border-radius: 3.5px;
    height: 180px;
    outline: 5px solid var(--banner-outline-color);
    width: 756px;
}

.topstuff-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

#tools {
    background: linear-gradient(180deg, var(--mainBgColor), var(--tools-gradient-end));
    border-radius: 2px;
    display: flex;
    outline: 5px solid var(--mainOutline);
    justify-content: space-evenly;
    margin: 1px auto;
    padding: 2px;
    width: 47em;
    align-content: center;
    flex-direction: row;
    align-items: center;
}

#tools button {
    background: none;
    border: none;
    border-left: 2px solid white;
    color: var(--toolsTxtColor);
    font-size: 0.85em;
    font-weight: bold;
    height: 2em;
    margin: 0 8px;
    position: relative;
    text-align: center;
    width: 12em;
}

button.homebutton {
    border-left: none !important;
    width: 18.5% !important;
}

button a {
    font-size: 16px;
    margin-left: 6px;
}

button:hover::before {
    animation: shuffle 1.45s infinite;
    content: url('https://banami.nekoweb.org/files/images/hand.png');
    display: inline-block;
    filter: drop-shadow(0 0 15px var(--button-hover-shadow-color));
    left: 0%;
    top: 35%;
    position: absolute;
    scale: 100%;
}

button.homebutton:hover::before {
    left: 6%;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

@keyframes shuffle {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(8%);
    }
    100% {
        transform: translateX(0%);
    }
}

.holder {
    display: flex;
    margin-top: 2em;
}

.introd, .sidebar {
    background: var(--mainBgColor);
    outline: 5px solid var(--mainOutline);
    border-radius: 3.5px;
    color: var(--txtColor);
}

.introd {
    width: 32.15em;
    font-size: 15px;
    padding: 15px;
}

.sidebar {
    width: 13em;
    padding: 10px;
    margin-left: 1em;
}

.object {
    margin-bottom: 35px;
}

footer {
    margin-top: 1em;
    color: var(--txtColor);
    background: var(--mainBgColor);
    outline: 5px solid var(--mainOutline);
    width: 46.1em;
    border-radius: 3.5px;
    text-align: right;
    padding: 10px;
}

.footer-hr {
    border: 1.5px dashed var(--txtColor);
}

/* <noscript> */
.error {
    background: var(--nscr);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 18px;
}

.error p {
    transform: translate(120px, 50%);
}

.spinomori {
    animation: threesixty 0.5s linear infinite;
}

.spinomori:hover {
    animation: threesixty 0.001s linear infinite;
}

@keyframes threesixty {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
