:root {
    --banner-outline-color: #25002c;
    --bgImg: url("https://banami.nekoweb.org/migrate/halloween2019_wallpaper.png");
    --button-hover-shadow-color: rgb(0, 0, 0, 0.5);
    --defaultColor: white;
    --nscr: rgb(255, 239, 247);
    --mainBgColor: #3d053b;
    --mainOutline: rgb(38, 0, 48);
    --tools-gradient-end: rgb(248, 32, 95);
    --toolsTxtColor: white;
    --txtColor: white;
}
